doctype html
html(lang='en')
    head
      title PharmaSearch || E-Mail Service
      meta(name='Description', content='Users may send the studies they have picked from the search results to the e-mail address they wish as a summary of their selection.')
      include includes/head.pug
    body
      include includes/header.pug
      main
        .row
          .col.s12.m4.l2(style="padding: 3rem; margin-top: -1rem;").hide-on-small-only
            script(type='text/javascript').
              var bannersnack_embed = {"hash":"b7hnejnub","width":300,"height":1050,"t":1592480941,"userId":41627626,"responsive":true,"type":"html5"};
            script(type='text/javascript', src='//cdn.bannersnack.com/iframe/embed.js')
          .col.s12.m4.l8(style="margin-top: 1rem;")
            form.col.s12(action='/email', method='post')
              .row
                .input-field.col.s12
                  input#email.validate(type='text', name='email')
                  label(for='email') E-mail to be Sent
                  span.helper-text(data-error='Please check your mail again', data-success='')
                .input-field.col.s12
                  textarea#reportText.materialize-textarea(name='studies')
                  label(for='reportText') Selected Studies
              .row  
                button#sendReady.col.s2.waves-effect.waves-light.btn.offset-s4(style='border-radius: 12px; width: 25%; background-color: royalblue;', type='submit' name="sendReady")
                    | Ready to Send
                    i.material-icons.right done
            .row.center-align
              p#sent.col.s12(style="font-weight: bold; color: darkslateblue;")= Sent
              #spinner.col.s5.offset-s5(style="display: none;")
                .spinner-dual
                  .spinner-dual
          .col.s12.m4.l2(style="padding: 3rem; margin-top: -1rem;").hide-on-small-only
            script(type='text/javascript').
              var bannersnack_embed = {"hash":"bxhm4i3nd","width":300,"height":1050,"t":1592485287,"userId":41627626,"responsive":true,"type":"html5"};
            script(type='text/javascript', src='//cdn.bannersnack.com/iframe/embed.js')
      include includes/footer.pug
    // Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='js/jquery.paginate.js')
    script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.11')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    // MY SCRIPTS START
    script.
      // MATERIALIZE STUFF
      M.AutoInit();
      $('#switch').hide();
      document.addEventListener('DOMContentLoaded', function(){
        var options = {
          strings: ['PharmaSear^500.ch'],
          typeSpeed: 100
        };
        var typed = new Typed('#logoType', options); 
      });
      // COOKIE ENGINE START
      function createCookie(name,value,days) {
      if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
      }
      function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
      }
      function eraseCookie(name) {
      createCookie(name,"",-1);
      }
      // COOKIE ENGINE END
      
      // READ COOKIE FOR NIGHT MODE
      let checkNight = readCookie('nightMode');
      if (checkNight == null) {
      } else {
        $("main").css("background-color", "darkgray");
        $("header").css("background-color", "darkgray");
        $("footer").css("background-color", "gray");
        $("#sendReady").css("background-color", "darkslateblue");
        $(".nav-wrapper").css("background", "");
        $(".nav-wrapper").css("background-color", "darkslateblue");
        $(".spinner-dual").css("border-top-color", "darkslateblue");
        $(".spinner-dual").css("border-bottom-color", "darkslateblue");
      }

      //CONVERT COOKIES BACK TO ARRAYS
      let json_text = readCookie('text');
      let textArray = JSON.parse(json_text);

      let json_link = readCookie('link');
      let linkArray = JSON.parse(json_link);

      // COMBINE THE ARRAYS AND PRESENT THE RESULT ON THE TEXTAREA
      textArray.forEach((text, value) => {
        const url = linkArray[value];
        // DON'T ADD LINE BREAKS IF THERE'S ONE RESULT
        if (linkArray.length == 1) {
        let report = `${text} (${url})`;
        return $('#reportText').append(report); 
        } else {
        let report = `${text} (${url})\r\n\r\n`;
        return $('#reportText').append(report); 
        }
      });
      // GET JSON DATA
      var dataReq = new XMLHttpRequest();
      var url = "protected/data/data.json";
      dataReq.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log('Data loaded with success!');
      }
      };
      dataReq.open("GET", url, true);
      dataReq.send();

      // FOOTER SLIDING DATA
      $( "body" ).one('mouseover', function() {
        setTimeout(function() { 
        let slideData = JSON.parse(dataReq.responseText);
        document.getElementById("slider").innerHTML = `${slideData.length} studies in our database are ready for you to perform your search now!`;
        }, 500);
      });
      // SPINNER TRIGGER
      $("#sendReady").click(function () {
        $('#spinner').css("display", "block");
        setTimeout(function() {
          $('#sent').text('Process of your request is taking longer than usual and it will be completed shortly. Thank you for your patience...');
          $('#spinner').css("margin-top", "2rem");
        }, 5000);
      });


