doctype html
html
  head
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    // My very own great CSS
    link(rel='stylesheet', href='css/style.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header
      .navbar-fixed(style='margin-bottom: 2rem;')  
        nav
          .nav-wrapper(style='background-color: royalblue;')
            a.brand-logo(href='#') PharmaSearch
            ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href='#' style='margin-right: 2rem;') About
    main  
      .container
        form.row(action='#')
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#activeSubstance
              option(value='', disabled='') Any
              option(value='Palbociclib') Palbociclib
              option(value='Morphine') Morphine
              option(value='Fentanyl') Fentanyl
              option(value='Piperacillin - Tazobactam') Piperacillin - Tazobactam
            label(style="font-weight: bolder; color: steelblue;") Active Substance
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#pharmClass
              option(value='', disabled='') Any
              option(value='Cardiac Glycoside') Cardiac Glycoside
              option(value='Fibrate') Fibrate
              option(value='Thiazide diuretic') Thiazide diuretic
              option(value='Benzodiazepine') Benzodiazepine
            label(style="font-weight: bolder; color: steelblue;") Pharmacologic Class
        form.row(action='#')  
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#indication
              option(value='', disabled='') Any
              option(value='Myocardial Ischemia') Myocardial Ischemia
              option(value='Heart Failure') Heart Failure
              option(value='Type 2 Diabetes Mellitus') Type 2 Diabetes Mellitus
              option(value='Muscle Spasm') Muscle Spasm
            label(style="font-weight: bolder; color: steelblue;") Therapeutic Indication
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#setting
              option(value='', disabled='') Any
              option(value='Hospital') Hospital
              option(value='Laboratory') Laboratory
              option(value='Pharmacy') Community Pharmacy
            label(style="font-weight: bolder; color: steelblue;") Setting
        form.row 
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#ward
              option(value='', disabled='') Any
              option(value='Intensive Care') Intensive Care
              option(value='Oncology') Oncology
              option(value='Surgery') Surgery
            label(style="font-weight: bolder; color: steelblue;") Ward
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#numPatients
              option(value='', disabled='') Any
              option(value='Less than 10') Less than 10
              option(value='10 - 50') 10 - 50
              option(value='51 - 100') 51 - 100
              option(value='101 - 500') 101 - 500
              option(value='501 - 1000') 501 - 1000
              option(value='More than 1000') More than 1000
            label(style="font-weight: bolder; color: steelblue;") Number of Patients
        form.row
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#numPrescriptions
              option(value='', disabled='') Any
              option(value='Less than 10') Less than 10
              option(value='10 - 50') 10 - 50
              option(value='51 - 100') 51 - 100
              option(value='101 - 500') 101 - 500
              option(value='501 - 1000') 501 - 1000
              option(value='More than 1000') More than 1000
            label(style="font-weight: bolder; color: steelblue;") Number of Prescriptions
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#studyLength
              option(value='', disabled='') Any
              option(value='Less than 3 months') Less than 3 months
              option(value='3 months - 5 months') 3 months - 5 months
              option(value='5 months - 1 year') 5 months - 1 year
              option(value='1 year - 2 years') 1 year - 2 years
              option(value='2 years - 5 years') 2 years - 5 years
              option(value='5 years - 10 years') 5 years - 10 years
              option(value='More than 10 years') More than 10 years
            label(style="font-weight: bolder; color: steelblue;") Study Length
        form.row 
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#country
              option(value='', disabled='') Any
              option(value='Italy') Italy
              option(value='Morocco') Morocco
              option(value='Spain') Spain
              option(value='Qatar') Qatar
            label(style="font-weight: bolder; color: steelblue;") Country
          .input-field.col.s10.l6.offset-s1
            select(multiple='')#year
              option(value='', disabled='') Any
              option(value='2018') 2018
              option(value='2019') 2019
            label(style="font-weight: bolder; color: steelblue;") Year
        form.row  
          .input-field.col.s12
            select#test
              option(value='', disabled='', selected='') Choose your option
              option(value='option1') Option 1
              option(value='option2') Option 2
              option(value='option3') Option 3
            label Materialize Select
      .container(style='margin-top: 1rem;')
        ul(class="collapsible expandable")
          li
            .collapsible-header
              i.material-icons(id='advSearch') format_line_spacing
              span(style="color: royalblue; font-weight: bolder;") Advanced Search
            .collapsible-body
              .container.center-align(style="width: 100%;")
                .row.switch
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#retrospective(type='checkbox')
                    span.lever#leverOne
                    | Retrospective
                  label.col.s12.l4(style='font-weight: bold; color: steelblue;')
                    input#intervention(type='checkbox')
                    span.lever
                    | Pharmacist Intervention
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#patientInteraction(type='checkbox')
                    span.lever#leverThree
                    | Patient Interaction
                .row.switch
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#recNurse(type='checkbox')
                    span.lever#leverOne
                    | Recommendation to Nurses
                  label.col.s12.l4(style='font-weight: bold; color: steelblue;')
                    input#multiInst(type='checkbox')
                    span.lever
                    | Multi Institutional
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#costProfit(type='checkbox')
                    span.lever#leverThree
                    | Cost Analysis / Profit
                .row.switch
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#pGenetics(type='checkbox')
                    span.lever#leverOne
                    | Pharmacogenetic Polymorphism
                  label.col.s12.l4(style='font-weight: bold; color: steelblue;')
                    input#Nutrition(type='checkbox')
                    span.lever
                    | Enteral / Patenteral Nutrition
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#pediatrics(type='checkbox')
                    span.lever#leverThree
                    | Pediatrics
                .row.switch
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#geriatrics(type='checkbox')
                    span.lever#leverOne
                    | Geriatrics
                  label.col.s12.l4(style='font-weight: bold; color: steelblue;')
                    input#nextStep(type='checkbox')
                    span.lever
                    | Advising a Next Step
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#compAided(type='checkbox')
                    span.lever#leverThree
                    | Computer Aided Decision Making
                .row.switch
                  label.col.s12.l4#lefty(style='font-weight: bold; color: steelblue;')
                    input#neonatal(type='checkbox')
                    span.lever#leverOne
                    | Neonatalogy
                  label.col.s12.l4(style='font-weight: bold; color: steelblue;')
                    input#preperation(type='checkbox')
                    span.lever
                    | Preparation of Intravenous Drugs
      .container(style='margin-top: 4rem;')
        .row
          a#search.col.s2.waves-effect.waves-light.btn.offset-s4(style='border-radius: 12px; width: 25%')
            | Search
            i.material-icons.right search
      .container(style='margin-top: 2rem;')
        .row
          .chip.col.s12
            | Multiple selection means "both" (not "or"). E.g selection of "Morphine" and "Fentanyl" makes it search the studies including both active substances
            i.close.material-icons close
      .container
        #resultHeader.row(style='margin-top: 2rem; display: none;')
          #resultText.col.s12.p
          h3.col.s12#Resulty(style='margin-top: 1rem; font-weight: bold; color: firebrick;') Results
        #resultBody.row(style='display: none;')
          ol#resultList(class="collapsible expandable")
    footer
      footer.page-footer
        .container
          .row
            .col.l6.s12
              h5.white-text Footer Content
              p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
            .col.l4.offset-l2.s12
              h5.white-text Links
              ul
                li
                  a.grey-text.text-lighten-3(href='#!') Link 1
        .footer-copyright
          .container
            marquee(id='slider' behavior='scroll', direction='left' scrollamount='12')
    // Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    // FUNDEMENTALS
    script.
      M.AutoInit();
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {isMultiple: false});
    script.
      // GET JSON DATA
      var dataReq = new XMLHttpRequest();
      var url = "protected/data/data.json";
      dataReq.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log('Data loaded with success!');
      }
      };
      dataReq.open("GET", url, true);
      dataReq.send();
    script.
      // SET EMPTY FILTER ARRAY
      let filterArr = [false, false];
      let myData;
      var searchObj = new Object();
      let result;
      let string;
      // MODIFY FILTER ARRAY WITH SPAN.LEVERs
      $( "#retrospective" ).click(function() {
      if (filterArr[0] === false) {
      filterArr[0] = true;
      } else {
      filterArr[0] = false;
      }
      });
      $( "#wardfocused" ).click(function() {
      if (filterArr[1] === false) {
      filterArr[1] = true;
      } else {
      filterArr[1] = false;
      }
      });

      // WHEN YOU FIRE THE SEARCH
      $("#search").click(function() {
      // HIDE THE SEARCH INFORMATIVE
      $(".chip").hide();
      // ERASE THE PREV RESULT TEXT
      $('#resultList').text('');
      // GET THE LIST TEXTs
      let instance_01 = M.FormSelect.getInstance($('#activeSubstance'));
      let actSubs = instance_01.getSelectedValues();
      let instance_02 = M.FormSelect.getInstance($('#ward'));
      let ward = instance_02.getSelectedValues();
      let instance_03 = M.FormSelect.getInstance($('#country'));
      let country = instance_03.getSelectedValues();
      let instance_04 = M.FormSelect.getInstance($('#year'));
      let year = instance_04.getSelectedValues();
      // IF IT'S EMPTY, SET AS "EMPTY" (1)
      if (actSubs === "") {
      actSubs = "empty"
      }

      if (ward === "") {
      ward = "empty"
      }

      if (country === "") {
      country = "empty"
      }

      // CLEAR THE SEARCH OBJECT / ADD LIST PARAMETERS (ACTSUBS-WARD) FOR THE NEW SEARCH
      searchObj = {
        active_substance: actSubs,
        ward_focused: ward,
        retrospective: [],
        costSaving: [],
        country: country,
        year: year
      };
      // IF VALUE WAS NOT SELECTED, DESTROY THEM
      if (actSubs === "empty") {
      searchObj['active_substance'] = [];
      }
      if (ward === "empty") {
      searchObj['ward_focused'] = [];
      }
      if (country === "empty") {
      searchObj['country'] = [];
      }
      if (year == "any") {
      searchObj['year'] = [];
      }
      // LOAD THE DATA TO THE VARIABLE
      let myData = JSON.parse(dataReq.responseText);
      console.log(myData);
      // ADD THE DATE IN THE FILTER TO THE SEARCH
      if (filterArr[0] === true) {
      searchObj.retrospective = "retrospective";
      }

      if (filterArr[1] === true) {
      searchObj.costSaving = "costSaving";
      }
      
      // LET THE CODE DO THE MAGIC
      const filterEngine = Object.values(searchObj).flat();

      const result = myData.filter(({filters}) => {
        const objFilters = Object.values(filters).flat();
        return filterEngine.every(val => objFilters.includes(val));
      });
      
      // TIME TO PRESENT THE INTRO
      let resultLength = result.length;
      $("#resultText").html(`We have found ${resultLength} result(s)`);
      if (resultLength > 0) {
        $('#Resulty').empty();
        $('#Resulty').append("Results");
        $('#resultHeader').hide();
        $('#resultBody').hide();
        $('#resultHeader').fadeIn(300);
        $('#resultBody').fadeIn(500);
        /*
        $('#resultHeader').attr('style','display: default;');
        $('#resultBody').attr('style','display: default;');
        */
      } else {
        $('#Resulty').empty();
        /*
        $('#resultHeader').attr('style','display: default;');
        $('#resultBody').attr('style','display: none;');
        */
      }
      // TIME TO PRESENT THE LIST
      for (let key in result) {
      let value = result[key];
      }
      result.forEach(function(item) {
      var li = document.createElement("li");
      var text = `<div class="collapsible-header"><p><a> ${item.title}, </a> ${item.filters.journal}, ${item.filters.year}</p></div><div class="collapsible-body"><span>${item.authors}</span><br><span style="font-style: italic; font-size: small;">${item.institution}</span><br><br><a href='${item.url}' target='_blank'><i class="material-icons" style="color: darkred;">filter_none</i><span style="color: darkred;"> Open the Study</span></a></div>`;
      li.innerHTML = text;
      document.getElementById("resultList").appendChild(li);
      let elem = document.querySelectorAll('.collapsible.expandable');
      let instance = M.Collapsible.init(elem, {
      accordion: false
      });
      });
      });
    script.
      $( "body" ).one('mouseover', function() {
        setTimeout(function() { 
        let slideData = JSON.parse(dataReq.responseText);
        console.log(slideData);
        console.log(slideData.length);
        let actLength = (($('#activeSubstance > option').length) - 1);
        let wardLength = (($('#ward > option').length) - 1);
        let countryLength = (($('#country > option').length) - 1);
        document.getElementById("slider").innerHTML = `${slideData.length} studies in our database are ready! With ${actLength} different active substances, ${wardLength} different ward options and among ${countryLength} countries; you may perform your search`;
        }, 500);
      });
       $( ".input-field span" ).click(function() {
          /*
          let siblings = $(this).parent().siblings();
          let selected = siblings.options[siblings.selectedIndex];
          console.log(selected);
          this.next().addClass('selected');
          */
       });
      
      