doctype html
html(lang='en')
  head
    title PharmaSearch || Your Search Hub
    meta(name='Description', content='Plan your next pharma study with us. Search the studies across the pharma world among more than 50 criteries and with high precision, reach the studies suits best to your interest.')
    include includes/head.pug
  body
    include includes/header.pug
    main  
      .row
        .col.s12.m4.l2(style="padding: 3rem;")
          script(type='text/javascript').
            var bannersnack_embed = {"hash":"b7hnejnub","width":300,"height":1050,"t":1592480941,"userId":41627626,"responsive":true,"type":"html5"};
          script(type='text/javascript', src='//cdn.bannersnack.com/iframe/embed.js')
        .col.s12.m4.l8(style="margin-top: 1rem;")
          form.row(action='#')
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#actSubs
                option(value='', disabled='') Any
                option(value='Abacavir') Abacavir
                option(value='Abiraterone') Abiraterone
                option(value='Adalimumab') Adalimumab
                option(value='Afatinib') Afatinib
                option(value='Alectinib') Alectinib
                option(value='Alprostadil') Alprostadil
                option(value='Amoxicillin / Clavulanic acid') Amoxicillin / Clavulanic acid
                option(value='Amphotericin') Amphotericin
                option(value='Ampicillin') Ampicillin
                option(value='Atenolol') Atenolol
                option(value='Atezolizumab') Atezolizumab
                option(value='Atracurium') Atracurium
                option(value='Aztreonam') Aztreonam
                option(value='BCG Vaccine (Tice strain)') BCG Vaccine (Tice strain)
                option(value='Bevacizumab') Bevacizumab
                option(value='Bleomycin') Bleomycin
                option(value='Blinatumomab') Blinatumomab
                option(value='Boric Acid') Boric Acid
                option(value='Bortezomib') Bortezomib
                option(value='Brentuksimab vedotin') Brentuksimab vedotin
                option(value='Budesonide') Budesonide
                option(value='Bupivacaine') Bupivacaine
                option(value='Cabazitaxel') Cabazitaxel
                option(value='Cabozantinib') Cabozantinib
                option(value='Captoril') Captoril
                option(value='Carboplatinum') Carboplatinum
                option(value='Cefazolin') Cefazolin
                option(value='Cefepime') Cefepime
                option(value='Cefepime') Cefotaxime
                option(value='Ceftazidime') Ceftazidime
                option(value='Ceftolozane / Tazobactam') Ceftolozane / Tazobactam
                option(value='Cenegermin') Cenegermin
                option(value='Chlorhexidine') Chlorhexidine
                option(value='Chlorphenamine') Chlorphenamine
                option(value='Cidofovir') Cidofovir
                option(value='Cisplatinum') Cisplatinum
                option(value='Clobazam') Clobazam
                option(value='Clobetasol') Clobetasol
                option(value='Clorazepate dipotassium') Clorazepate dipotassium
                option(value='Clozapine') Clozapine
                option(value='Codeine') Codeine
                option(value='Crizotinib') Crizotinib
                option(value='Cyclophosphamide') Cyclophosphamide
                option(value='Cyclosporine') Cyclosporine
                option(value='Dacarbazine') Dacarbazine
                option(value='Danazol') Danazol
                option(value='Daratumumab') Daratumumab
                option(value='Daunorubicin') Daunorubicin
                option(value='Dexamethasone') Dexamethasone
                option(value='Dexchlorpheniramine') Dexchlorpheniramine
                option(value='Diazepam') Diazepam
                option(value='Digoxin') Digoxin
                option(value='Diltiazem') Diltiazem
                option(value='Disodium tetraborate') Disodium tetraborate
                option(value='Docetaxel') Docetaxel
                option(value='Dolutegravir') Dolutegravir
                option(value='Doxorubicin') Doxorubicin
                option(value='Doxycycline') Doxycycline
                option(value='Durvalumab') Durvalumab
                option(value='Eltrombopag') Eltrombopag
                option(value='Emtricitabine') Emtricitabine
                option(value='Epinephrine bitartrate') Epinephrine bitartrate
                option(value='Epirubicin') Epirubicin
                option(value='Erlotinib') Erlotinib
                option(value='Etanercept') Etanercept
                option(value='Etilefrine') Etilefrine
                option(value='Etoposide') Etoposide
                option(value='Everolimus') Everolimus
                option(value='Ferrous gluconate') Ferrous gluconate
                option(value='Flecainide acetate') Flecainide acetate
                option(value='Florourasil (5-FU)') Florourasil (5-FU)
                option(value='Fluconazole') Fluconazole
                option(value='Fructose') Fructose
                option(value='Furosemide') Furosemide
                option(value='Gefitinib') Gefitinib
                option(value='Gemcitabine') Gemcitabine
                option(value='Gentamicin') Gentamicin
                option(value='Glecaprevir / Pibrentasvir') Glecaprevir / Pibrentasvir
                option(value='Glutamine') Glutamine
                option(value='Glutathione') Glutathione
                option(value='Guselkumab') Guselkumab
                option(value='Heparin') Heparin
                option(value='Human fibrinogen / Human thrombin') Human fibrinogen / Human thrombin
                option(value='Hydrocortisone') Hydrocortisone
                option(value='Idarubicin') Idarubicin
                option(value='Imipenem') Imipenem
                option(value='Imipenem / Cilastatin') Imipenem / Cilastatin
                option(value='Imiquimod') Imiquimod
                option(value='Immunoglobulin') Immunoglobulin
                option(value='Immunoglobulin (IVIg)') Immunoglobulin (IVIg)
                option(value='Infliximab') Infliximab
                option(value='Insulin Aspart') Insulin Aspart
                option(value='Iron') Iron
                option(value='Isoniazid / Pyrazinamide / Rifampicin') Isoniazid / Pyrazinamide / Rifampicin
                option(value='Ixazomib') Ixazomib
                option(value='Labetalol') Labetalol
                option(value='Lamivudine') Lamivudine
                option(value='Lenalidomide') Lenalidomide
                option(value='Levetiracetam') Levetiracetam
                option(value='Levofloxacin') Levofloxacin
                option(value='Levothyroxine (IV)') Levothyroxine (IV)
                option(value='Lidocaine hydrochloride') Lidocaine hydrochloride
                option(value='Lorazepam') Lorazepam
                option(value='Lysine acetylsalicylate') Lysine acetylsalicylate
                option(value='Magnesium sulphate') Magnesium sulphate
                option(value='Melphalan') Melphalan
                option(value='Mepivacaine') Mepivacaine
                option(value='Metoclopramide') Metoclopramide
                option(value='Methylprednisolone') Methylprednisolone
                option(value='Midazolam') Midazolam
                option(value='Midostaurin') Midostaurin
                option(value='Mitomycin C') Mitomycin C
                option(value='Morphine') Morphine
                option(value='Mupirocin') Mupirocin
                option(value='Natalizumab') Natalizumab
                option(value='Nitrazepam') Nitrazepam
                option(value='Nivolumab') Nivolumab
                option(value='Norepinephrine') Norepinephrine
                option(value='Nystatin') Nystatin
                option(value='Olaparib') Olaparib
                option(value='Omalizumab') Omalizumab
                option(value='Omeprazole') Omeprazole
                option(value='Osimertinib') Osimertinib
                option(value='Oxacillin') Oxacillin
                option(value='Oxaliplatinum') Oxaliplatinum
                option(value='Paclitaxel') Paclitaxel
                option(value='Pantoprazole') Pantoprazole
                option(value='Pembrolizumab') Pembrolizumab
                option(value='Pemetrexed') Pemetrexed
                option(value='Phenobarbital') Phenobarbital
                option(value='Phenol') Phenol
                option(value='Phenylephrine hydrochloride') Phenylephrine hydrochloride
                option(value='Phytomenadione') Phytomenadione
                option(value='Piperacillin / Tazobactam') Piperacillin / Tazobactam
                option(value='Pomalidomide') Pomalidomide
                option(value='Prednisone') Prednisone
                option(value='Pseudoephedrine') Pseudoephedrine
                option(value='Raltegravir') Raltegravir
                option(value='Ramucirumab') Ramucirumab
                option(value='Regorafenib') Regorafenib
                option(value='Resorcinol') Resorcinol
                option(value='Ribavirin') Ribavirin
                option(value='Rituximab') Rituximab
                option(value='Rivaroxaban') Rivaroxaban
                option(value='Ropivacaine') Ropivacaine
                option(value='Ruxolitinib') Ruxolitinib
                option(value='Simvastatin / Cholesterol (TFSC)') Simvastatin / Cholesterol (TFSC)
                option(value='Sirolimus') Sirolimus
                option(value='Sodium benzoate') Sodium benzoate
                option(value='Sodium chloride') Sodium chloride
                option(value='Sodium glycerophosphate') Sodium glycerophosphate
                option(value='Sodium Ferric Gluconate') Sodium Ferric Gluconate
                option(value='Sodium metabisulfite') Sodium metabisulfite
                option(value='Sodium nitroprusside') Sodium nitroprusside
                option(value='Sofosbuvir / Velpatasvir') Sofosbuvir / Velpatasvir
                option(value='Sorafenib') Sorafenib
                option(value='Spironolactone') Spironolactone
                option(value='Sucralfate') Sucralfate
                option(value='Suxamethonium') Suxamethonium
                option(value='Tacrolimus') Tacrolimus
                option(value='Tenofovir') Tenofovir
                option(value='Terlipressin') Terlipressin
                option(value='Tetracaine hydrochloride') Tetracaine hydrochloride
                option(value='Thalidomide') Thalidomide
                option(value='Theophylline') Theophylline
                option(value='Tocilizumab') Tocilizumab
                option(value='Tobramycin') Tobramycin
                option(value='Topiramate') Topiramate
                option(value='Trabectedina') Trabectedina
                option(value='Trastuzumab emtansine') Trastuzumab emtansine
                option(value='Triamcinolone') Triamcinolone
                option(value='Ustekinumab') Ustekinumab
                option(value='Valproic acid') Valproic acid
                option(value='Vancomycin') Vancomycin
                option(value='Vedolizumab') Vedolizumab
                option(value='Vedotin') Vedotin
                option(value='Venetoclax') Venetoclax
                option(value='Voriconazole') Voriconazole
                option(value='Zinc') Zinc
                option(value='Ziv-Aflibercept') Ziv-Aflibercept
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Active Substance
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#indication
                option(value='', disabled='') Any
                option(value='Advanced Non-Small Cell Lung Cancer') Advanced Non-Small Cell Lung Cancer
                option(value='Advanced Non-Small Cell Lung Cancer') Advanced Non-Small Cell Lung Cancer (EGFR-Mutated)
                option(value='Antisynthetase Syndrome') Antisynthetase Syndrome
                option(value='Asthma (Severe Refractory)') Asthma (Severe Refractory)
                option(value='Autoimmune Hemolytic Anemia') Autoimmune Hemolytic Anemia
                option(value='Bacterial Keratitis') Bacterial Keratitis
                option(value='Biliopancreatic Cancer') Biliopancreatic Cancer
                option(value='Bladder Cancer') Bladder Cancer
                option(value='Breast Cancer') Breast Cancer
                option(value='Breast Cancer (HR Positive / HER2 Negative Metastatic)') Breast Cancer (HR Positive / HER2 Negative Metastatic)
                option(value='Cervical Cancer') Cervical Cancer                
                option(value='Corneal Ulcer') Corneal Ulcer
                option(value='Demyelinating Neuropathies') Demyelinating Neuropathies
                option(value='Diarrhoea') Diarrhoea
                option(value='Diarrhoea (Chronic)') Diarrhoea (Chronic)
                option(value='Dry Eye Syndrome') Dry Eye Syndrome
                option(value='Encephalitis') Encephalitis
                option(value='Encephalomyelitis') Encephalomyelitis
                option(value='Endometrial Neoplasia') Endometrial Neoplasia
                option(value='Epidermical Hamartoma') Epidermical Hamartoma
                option(value='Epilepsy') Epilepsy
                option(value='Epilepsy (Drug-Resistant)') Epilepsy (Drug-Resistant)
                option(value='Erythroderma (Severe)') Erythroderma (Severe)
                option(value='Facial Angiofibroma') Facial Angiofibroma
                option(value='Fusarium Keratitis') Fusarium Keratitis
                option(value='Genitourinary Cancers') Genitourinary Cancers
                option(value='Graft Versus Host Disease') Graft Versus Host Disease
                option(value='Haemorrhoid') Haemorrhoid
                option(value='Hematologic Malignancy') Hematologic Malignancy
                option(value='Hepatitis C Genotype 3') Hepatitis C Genotype 3
                option(value='Hepatocarcinoma') Hepatocarcinoma
                option(value='Hidradenitis suppurativa') Hidradenitis suppurativa
                option(value='HIV (Treatment-Naive)') HIV (Treatment-Naive)
                option(value='Idiopathic Thrombocytopenic Purpura') Idiopathic Thrombocytopenic Purpura
                option(value='Immunodeficiency') Immunodeficiency
                option(value='Inflammatory Bowel Disease') Inflammatory Bowel Disease
                option(value='Iron Deficiency Anemia') Iron Deficiency Anemia
                option(value='Irritable Bowel Disease') Irritable Bowel Disease
                option(value='Lennox–Gastaut Syndrome') Lennox–Gastaut Syndrome
                option(value='Leukaemia (Acute Lymphoblastic)') Leukaemia (Acute Lymphoblastic)
                option(value='Leukaemia (Acute Myeloid)') Leukaemia (Acute Myeloid)
                option(value='Liver Fibrosis') Liver Fibrosis
                option(value='Lymphoma (Hodgkin)') Lymphoma (Hodgkin)
                option(value='Lymphoma (Mantle Cell)') Lymphoma (Mantle Cell)
                option(value='Lymphoma (non-Hodgkin)') Lymphoma (non-Hodgkin)
                option(value='Melanoma') Melanoma
                option(value='Mesothelioma') Mesothelioma
                option(value='Metastatic Cancer') Metastatic Cancer
                option(value='Molluscum Contagiosum') Molluscum Contagiosum
                option(value='Morvan Syndrome') Morvan Syndrome
                option(value='Mucositis') Mucositis
                option(value='Multiple Food Allergy (MFA)') Multiple Food Allergy (MFA)
                option(value='Multiple Myeloma') Multiple Myeloma
                option(value='Multiple Myeloma (Newly Diagnosed)') Multiple Myeloma (Newly Diagnosed)
                option(value='Multiple Sclerosis') Multiple Sclerosis
                option(value='Myasthenia Gravis') Myasthenia Gravis
                option(value='Myeloproliferative Neoplasm (BCR/JAK2-Rearranged)') Myeloproliferative Neoplasm (BCR/JAK2-Rearranged)
                option(value='Myopathy') Myopathy
                option(value='Neurotrophic Keratitis') Neurotrophic Keratitis
                option(value='Non-Small Cell Lung Cancer') Non-Small Cell Lung Cancer
                option(value='Nonketotic Hyperglycinemia') Nonketotic Hyperglycinemia
                option(value='Nonvalvular Atrial Fibrillation') Nonvalvular Atrial Fibrillation
                option(value='Ovarian Carcinoma') Ovarian Carcinoma
                option(value='Ovarian Serous Adenocarcinoma') Ovarian Serous Adenocarcinoma
                option(value='Paraneoplastic Dermatomyositis') Paraneoplastic Dermatomyositis
                option(value='Papillomatosis (Oral Florid)') Papillomatosis (Oral Florid)
                option(value='Paraneoplastic Syndrome') Paraneoplastic Syndrome
                option(value='Pneumonia (Hospital Acquired)') Pneumonia (Hospital Acquired)
                option(value='Polyarticular Juvenile Idiopathic Arthritis') Polyarticular Juvenile Idiopathic Arthritis
                option(value='Proctitis') Proctitis
                option(value='Progressive Multifocal Leukoencephalopathy') Progressive Multifocal Leukoencephalopathy
                option(value='Prostate Cancer') Prostate Cancer
                option(value='Prostate Cancer (Metastatic Castration Resistant)') Prostate Cancer (Metastatic Castration Resistant)
                option(value='Prostate Cancer (Metastatic Castration Sensitive)') Prostate Cancer (Metastatic Castration Sensitive)
                option(value='Psoriasis (Moderate to Severe Plaque)') Psoriasis (Moderate to Severe Plaque)
                option(value='Pure Red Cell Aplasia') Pure Red Cell Aplasia
                option(value='Rectal Neoplasia') Rectal Neoplasia
                option(value='Refractory Atopic Dermatitis') Refractory Atopic Dermatitis
                option(value='Refractory Cancer') Refractory Cancer
                option(value='Renal Cell Cancer') Renal Cell Cancer
                option(value='Scleroderma') Scleroderma
                option(value='Severe Abdominal Infection') Severe Abdominal Infection
                option(value='Severe Asthma (IgE-Mediated)') Severe Asthma (IgE-Mediated)
                option(value='Severe Urinary Infection') Severe Urinary Infection
                option(value='Squamous Cell Carcinoma of the Rectum') Squamous Cell Carcinoma of the Rectum
                option(value='Stomatitis') Stomatitis
                option(value='Testicular Cancer') Testicular Cancer
                option(value='Tuberous Sclerosis') Tuberous Sclerosis
                option(value='Ulcerative Proctitis') Ulcerative Proctitis
                option(value='Urea Cycle Defects (UCD)') Urea Cycle Defects (UCD)
                option(value='Uterine Leiomyosarcoma') Uterine Leiomyosarcoma
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Stated Therapeutic Indication
          form.row(action='#')  
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#statedClass
                option(value='', disabled='') Any
                option(value='Adrenergic Drugs') Adrenergic Drugs
                option(value='Anaesthetics') Anaesthetics
                option(value='Analgesics') Analgesics
                option(value='Anthracyclines') Anthracyclines
                option(value='Antiarrhythmics') Antiarrhythmics
                option(value='Antibiotics') Antibiotics
                option(value='Anticholinergics') Anticholinergics
                option(value='Antiepileptics') Antiepileptics
                option(value='Antihistamines') Antihistamines
                option(value='Antihypertensives') Antihypertensives
                option(value='Antileukotriene Agents') Antileukotriene Agents
                option(value='Antimetabolites') Antimetabolites
                option(value='Antimycotics') Antimycotics
                option(value='Antineoplastics and Immunomodulators') Antineoplastics and Immunomodulators
                option(value='Antiparasitics') Antiparasitics
                option(value='Antipsychotics') Antipsychotics
                option(value='Anti-Infective Drugs') Anti-Infective Drugs
                option(value='Autologous Fibrin Tissue Adhesive') Autologous Fibrin Tissue Adhesive
                option(value='Autologous Serum Eye Drops') Autologous Serum Eye Drops
                option(value='Benzodiazepines') Benzodiazepines
                option(value='Biologicals') Biologicals
                option(value='Biosimilars') Biosimilars
                option(value='Blood and Haematopoietic Derivatives') Blood and Haematopoietic Derivatives
                option(value='Blood Products') Blood Products
                option(value='Cardiovascular Drugs') Cardiovascular Drugs
                option(value='Cephalosporins') Cephalosporins
                option(value='Corticosteroids') Corticosteroids
                option(value='Dermatological Drugs') Dermatological Drugs
                option(value='Dietetics') Dietetics
                option(value='Digestive System and Metabolism Drugs') Digestive System and Metabolism Drugs
                option(value='Gastroprotectors') Gastroprotectors
                option(value='Glucocorticoids') Glucocorticoids
                option(value='Hormonal Drugs') Hormonal Drugs
                option(value='Immune-Modulators') Immune-Modulators
                option(value='Immune-Suppressors') Immune-Suppressors
                option(value='Inhaled Corticosteroids') Inhaled Corticosteroids
                option(value='Intravenous Immunoglobulins (IVIg)') Intravenous Immunoglobulins (IVIg)
                option(value='Iodinated Contrast Products') Iodinated Contrast Products
                option(value='Local Anaesthetics') Local Anaesthetics
                option(value='Long-Acting β Adrenoceptor Agonists') Long-Acting β Adrenoceptor Agonists
                option(value='Monoclonal Antibodies') Monoclonal Antibodies
                option(value='Musculoskeletal System Drugs') Musculoskeletal System Drugs
                option(value='Nervous System Drugs') Nervous System Drugs
                option(value='Non-Steroidal Anti-Inflammatory Drugs') Non-Steroidal Anti-Inflammatory Drugs
                option(value='Novel Oral Anticoagulants') Novel Oral Anticoagulants
                option(value='Nutritional Agents') Nutritional Agents
                option(value='Oncologic Drugs') Oncologic Drugs
                option(value='Vitamin K Antagonists') Vitamin K Antagonists
                option(value='Platinum Drugs') Platinum Drugs
                option(value='Proton-Pump Inhibitors') Proton-Pump Inhibitors
                option(value='Psychostimulants') Psychostimulants
                option(value='Respiratory System Drugs') Respiratory System Drugs
                option(value='Systemic Corticosteroids') Systemic Corticosteroids
                option(value='Tumor Necrosis Factor Alpha (TNF-α) Inhibitors') Tumor Necrosis Factor Alpha (TNF-α) Inhibitors
                option(value='Tyrosine Kinase Inhibitors') Tyrosine Kinase Inhibitors
                option(value='Urological Drugs') Urological Drugs
                option(value='Vasoconstrictors') Vasoconstrictors
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Stated Drug Classification
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#typeOfMedical
                option(value='', disabled='') Any
                option(value='Closed System Drug-Transfer Device (CSTD)') Closed System Drug-Transfer Device (CSTD)
                option(value='Cyclic Olefin Polymer (COP) Syringe') Cyclic Olefin Polymer (COP) Syringe
                option(value='Elastomeric Devices') Elastomeric Devices
                option(value='Elastomeric Infusion Pumps') Elastomeric Infusion Pumps
                option(value='Guedel Cannulas') Guedel Cannulas
                option(value='Infusers') Infusers
                option(value='Low Density Polyethylene (LDPE) Bags') Low Density Polyethylene (LDPE) Bags
                option(value='Luer-Lock Syringes') Luer-Lock Syringes
                option(value='Midlines') Midlines
                option(value='Oral Liquid Vehicle Range') Oral Liquid Vehicle Range
                option(value='Polyolefin Infusion Bags') Polyolefin Infusion Bags
                option(value='Polypropylene Syringes') Polypropylene Syringes
                option(value='Plaster Strips') Plaster Strips
                option(value='Prefilled Syringes') Prefilled Syringes
                option(value='Rectal Cannulas') Rectal Cannulas
                option(value='Single Use Vials') Single Use Vials
                option(value='Sterile Gloves') Sterile Gloves
                option(value='Universal kits') Universal Kits
                option(value='Vial Adaptors') Vial Adaptors
                option(value='Y Fittings') Y Fittings
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Type of Medical Device / Equipment
          form.row(action='#')
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#studyDesign
                option(value='', disabled='') Any
                option(value='Meta-Analysis') Meta-Analysis
                option(value='Systematic Review') Systematic Review
                option(value='Descriptive Study') Descriptive Study
                option(value='Randomized Controlled Trial') Randomized Controlled Trial
                option(value='Cohort (Prospective Observational Study)') Cohort (Prospective Observational Study)
                option(value='Case-Control (Retrospective) Study') Case-Control (Retrospective) Study
                option(value='Cross-Sectional Study') Cross-Sectional Study
                option(value='Case Reports / Series') Case Reports / Series
                option(value='Quasi-Experimental Design') Quasi-Experimental Design
                option(value='Laboratory Research') Laboratory Research
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Design of The Study
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#setting
                option(value='', disabled='') Any
                option(value='Hospital') Hospital
                option(value='Laboratory') Laboratory
                option(value='Community Pharmacy') Community Pharmacy
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Setting
          form.row(action='#')
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#ward
                option(value='', disabled='') Any
                option(value='Cardiology') Cardiology
                option(value='Centralised Cytotoxic Preparation Unit') Centralised Cytotoxic Preparation Unit
                option(value='Centralised IntraVenous Additive Service') Centralised IntraVenous Additive Service
                option(value='Chemotherapy') Chemotherapy
                option(value='Critical Care Unit') Critical Care Unit
                option(value='Dermatology') Dermatology
                option(value='Emergency Department') Emergency Department
                option(value='Gastroenterology') Gastroenterology
                option(value='General Surgery') General Surgery
                option(value='Gynaecology') Gynaecology
                option(value='Haematology') Haematology
                option(value='Home Care Unit') Home Care Unit
                option(value='Intensive Care') Intensive Care
                option(value='Internal Medicine') Internal Medicine
                option(value='Neonatal Intensive Care Unit') Neonatal Intensive Care Unit
                option(value='Neurology') Neurology
                option(value='Nuclear Medicine') Nuclear Medicine
                option(value='Oncology') Oncology
                option(value='Ophthalmology') Ophthalmology
                option(value='Outpatient Clinic') Outpatient Clinic
                option(value='Paediatric Haematology – Oncology') Paediatric Haematology – Oncology
                option(value='Paediatric Intensive Care Unit') Paediatric Intensive Care Unit
                option(value='Paediatrics') Paediatrics
                option(value='Pneumology') Pneumology
                option(value='Rheumatology') Rheumatology
                option(value='Traumatology') Traumatology
                option(value='Vascular Surgery') Vascular Surgery
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Ward
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#numPatients
                option(value='', disabled='') Any
                option(value='Less than 10') Less than 10
                option(value='10 - 50') 10 - 50
                option(value='51 - 100') 51 - 100
                option(value='101 - 500') 101 - 500
                option(value='501 - 1000') 501 - 1000
                option(value='More than 1000') More than 1000
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Number of Patients
          form.row(action='#')
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#numPrescriptions
                option(value='', disabled='') Any
                option(value='Less than 10') Less than 10
                option(value='10 - 50') 10 - 50
                option(value='51 - 100') 51 - 100
                option(value='101 - 500') 101 - 500
                option(value='501 - 1000') 501 - 1000
                option(value='More than 1000') More than 1000
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Number of Prescriptions
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#criteriaMethod
                option(value='', disabled='') Any
                option(value='ABC/Pareto Analysis') ABC/Pareto Analysis
                option(value="Bucher's Method") Bucher's Method
                option(value="Capillary Electrophoresis (CE)") Capillary Electrophoresis (CE)
                option(value="Cation Exchange Chromatography") Cation Exchange Chromatography
                option(value='Capillary Electrophoresis - Sodium Dodecyl Sulfate (CE-SDS) (non-reducing)') Capillary Electrophoresis - Sodium Dodecyl Sulfate (CE-SDS) (non-reducing)
                option(value='Cochran Test') Cochran Test
                option(value='Comparative Risk Assessment') Comparative Risk Assessment
                option(value='Correlation Analysis') Correlation Analysis
                option(value='Dynamic Light Scattering') Dynamic Light Scattering
                option(value='Failure Mode, Effects and Criticality Analysis (FMECA)') Failure Mode, Effects and Criticality Analysis (FMECA)
                option(value='Fisher’s Exact Test') Fisher’s Exact Test
                option(value='Fluorescence Resonance Energy Transfer (FRET)') Fluorescence Resonance Energy Transfer (FRET)
                option(value='Gel Electrophoresis') Gel Electrophoresis
                option(value='Gravimetric Analysis') Gravimetric Analysis
                option(value='Hazard Vulnerability Analysis') Hazard Vulnerability Analysis
                option(value='High Performance Liquid Chromatography (HPLC)') High Performance Liquid Chromatography (HPLC)
                option(value='High Performance Liquid Chromatography - Mass Spectrometry Detection (HPLC-MS)') High Performance Liquid Chromatography - Mass Spectrometry Detection (HPLC-MS)
                option(value='High Performance Liquid Chromatography Reversed-Phase (RP-HPLC)') High Performance Liquid Chromatography Reversed-Phase (RP-HPLC)
                option(value='High-Performance Liquid Chromatography - Ultraviolet (HPLC-UV)') High-Performance Liquid Chromatography - Ultraviolet (HPLC-UV)
                option(value='High Performance Liquid Chromatography with Diode-Array Detection (HPLC-DAD)') High Performance Liquid Chromatography with Diode-Array Detection (HPLC-DAD)
                option(value='Inductively Coupled Plasma Mass Spectrometry (ICP-MS)') Inductively Coupled Plasma Mass Spectrometry (ICP-MS)
                option(value='International League Against Epilepsy Criteria') International League Against Epilepsy Criteria
                option(value='Kaplan-Meier Method') Kaplan-Meier Method
                option(value='Kinetic Chromogenic Method') Kinetic Chromogenic Method
                option(value='Light Obscuration') Light Obscuration
                option(value='Liquid Chromatography Mass Spectrometry (LC-MS)') Liquid Chromatography Mass Spectrometry (LC-MS)
                option(value='Liquid Chromatography Tandem - Mass Spectrometry (LC–MS/MS)') Liquid Chromatography Tandem - Mass Spectrometry (LC–MS/MS)
                option(value='Mann-Whitney U Test') Mann-Whitney U Test
                option(value='Mobile Application Rating Scale (MARS)') Mobile Application Rating Scale (MARS)
                option(value='McNemar Test') McNemar Test
                option(value='Nanoparticle Tracking Analysis (NTA)') Nanoparticle Tracking Analysis (NTA)
                option(value='Nuclear Magnetic Resonance') Nuclear Magnetic Resonance
                option(value='Paired T-Test') Paired T-Test
                option(value='Partial Least Squares Discriminant Analysis (PLS-DA)') Partial Least Squares Discriminant Analysis (PLS-DA)
                option(value='Psoriasis Area and Severity Index (PASI)') Psoriasis Area and Severity Index (PASI)
                option(value='Real-Time Polymerase Chain Reaction') Real-Time Polymerase Chain Reaction
                option(value='Relative Standard Deviation (RSD)') Relative Standard Deviation (RSD)
                option(value='Seldinger Technique') Seldinger Technique
                option(value='Shakespeare Method') Shakespeare Method
                option(value='Size-Exclusion Chromatography (SEC)') Size-Exclusion Chromatography (SEC)
                option(value='Size Exclusion Chromatography - High Performance Liquid Chromatography (SEC-HPLC)') Size Exclusion Chromatography - High Performance Liquid Chromatography (SEC-HPLC)
                option(value='Spectrophotometry') Spectrophotometry
                option(value='STATA') STATA
                option(value='Statistical Package for the Social Sciences (SPSS)') Statistical Package for the Social Sciences (SPSS)
                option(value="Student's T-test") Student's T-test
                option(value="Subvisible Particle Testing") Subvisible Particle Testing
                option(value="Triple Quadrupole Mass Spectrometer (QqQ MS)") Triple Quadrupole Mass Spectrometer (QqQ MS)
                option(value="Turbidimetry") Turbidimetry
                option(value="Ultraviolet – Visible Spectrophotometry") Ultraviolet – Visible Spectrophotometry
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Tools / Criterias / Methods
          form.row 
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#studyLength
                option(value='', disabled='') Any
                option(value='Less than 3 months') Less than 3 months
                option(value='3 months - 5 months') 3 months - 5 months
                option(value='5 months - 1 year') 5 months - 1 year
                option(value='1 year - 2 years') 1 year - 2 years
                option(value='2 years - 5 years') 2 years - 5 years
                option(value='5 years - 10 years') 5 years - 10 years
                option(value='More than 10 years') More than 10 years
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Study Length
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#country
                option(value='', disabled='') Any
                option(value='Argentina') Argentina
                option(value='Austria') Austria
                option(value='Brazil') Brazil
                option(value='Czech Republic') Czech Republic
                option(value='Denmark') Denmark
                option(value='Germany') Germany
                option(value='Greece') Greece
                option(value='France') France
                option(value='Ireland') Ireland
                option(value='Italy') Italy
                option(value='Israel') Israel
                option(value='Latvia') Latvia
                option(value='Morocco') Morocco
                option(value='Netherlands') Netherlands
                option(value='Poland') Poland
                option(value='Portugal') Portugal
                option(value='Slovenia') Slovenia
                option(value='South Korea') South Korea
                option(value='Spain') Spain
                option(value='Switzerland') Switzerland
                option(value='USA') USA
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Country
          form.row 
            .input-field.col.s10.l6.offset-s1
              select(multiple='')#year
                option(value='', disabled='') Any
                option(value='2019') 2019
                option(value='2020') 2020
              label(style="font-weight: bolder; color: royalblue; font-size: small;") Year of Publication
          .row(style='margin-top: 1rem;')
            ul(class="collapsible expandable")
              li
                .collapsible-header
                  i.material-icons(id='advSearch') format_line_spacing
                  span(style="color: royalblue; font-weight: bolder;") Advanced Search
                .collapsible-body
                  .container.center-align(style="width: 100%;")
                    p#hrHead(style='margin-top: 0rem;') Areas
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#pediatrics(type='checkbox')
                        span.lever#leverOne
                        | Pediatrics
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#geriatrics(type='checkbox')
                        span.lever
                        | Geriatrics
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#neonatology(type='checkbox')
                        span.lever#leverThree
                        | Neonatology
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#oncology(type='checkbox')
                        span.lever#leverOne
                        | Oncology
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#pharmacogenetics(type='checkbox')
                        span.lever
                        | Pharmacogenetics
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#pharmacoeconomy(type='checkbox')
                        span.lever#leverThree
                        | Pharmacoeconomics
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#radiopharmaceuticals(type='checkbox')
                        span.lever#leverOne
                        | Radiopharmaceuticals
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#compounding(type='checkbox')
                        span.lever
                        | Compounding / Production
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#medicalDevices(type='checkbox')
                        span.lever#leverThree
                        | Medical Devices / Equipments
                    p#hrHead Type of Treatment / Medicine
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#personalized(type='checkbox')
                        span.lever#leverOne
                        | Personalized Medicine / Individual Therapy
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#nutrition(type='checkbox')
                        span.lever
                        | Enteral / Parenteral Nutrition
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#orphan(type='checkbox')
                        span.lever#leverThree
                        | Orphan Drugs
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#highRisk(type='checkbox')
                        span.lever#leverOne
                        | High Risk Medicines
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#endOfLife(type='checkbox')
                        span.lever
                        | End of Life / Hospice Treatment
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#selfMedication(type='checkbox')
                        span.lever#leverThree
                        | Self-Medication
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#preopMedication(type='checkbox')
                        span.lever#leverOne
                        | Perioperative Medication
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#outpatient(type='checkbox')
                        span.lever
                        | Outpatient Treatment
                    p#hrHead Treatment Related Practice
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#enzymeSubstrate(type='checkbox')
                        span.lever#leverOne
                        | Enzyme Replacement / Substrate Reduction Therapy
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#geneTherapy(type='checkbox')
                        span.lever
                        | Gene Therapy
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#homeCare(type='checkbox')
                        span.lever#leverThree
                        | Home Care
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#antibioticProphylaxis(type='checkbox')
                        span.lever#leverOne
                        | Antibiotic Prophylaxis
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#painManagement(type='checkbox')
                        span.lever
                        | Pain Management
                    p#hrHead Drug Application Related Practice
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#offLabel(type='checkbox')
                        span.lever#leverOne
                        | Off-Label Use
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#flatDoses(type='checkbox')
                        span.lever
                        | Flat Doses / Dose Banding
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#switching(type='checkbox')
                        span.lever#leverThree
                        | Switching Medication
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#deprescribing(type='checkbox')
                        span.lever#leverOne
                        | Prescription Regulations (e.g., Deprescribing)
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#compliance(type='checkbox')
                        span.lever
                        | Compliance with Guidelines
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#prepareIV(type='checkbox')
                        span.lever
                        | Preparing IV Medications
                    p#hrHead Assessment Related Practice
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#costAnalysis(type='checkbox')
                        span.lever#leverOne
                        | Cost Analysis
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#riskSafety(type='checkbox')
                        span.lever
                        | Occupational Risk / Safety
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#vigilance(type='checkbox')
                        span.lever#leverThree
                        | Pharmacovigilance / Materiovigilance
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#stability(type='checkbox')
                        span.lever#leverOne
                        | Stability / Microbiological Analysis
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#drugMonitoring(type='checkbox')
                        span.lever
                        | Therapeutic Drug Monitoring
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#safetyProfile(type='checkbox')
                        span.lever#leverThree
                        | Safety / Tolerability Profile Assessment
                    p#hrHead Communication
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#intervention(type='checkbox')
                        span.lever#leverOne
                        | Intervention of Pharmacists
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#patientIntervention(type='checkbox')
                        span.lever
                        | Interaction with Patients
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#nursesReccomend(type='checkbox')
                        span.lever#leverThree
                        | Recommendations to Nurses
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#telepharmacy(type='checkbox')
                        span.lever#leverOne
                        | Telepharmacy
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#interview(type='checkbox')
                        span.lever
                        | Interview / Questionnaire with Health Professionals
                    p#hrHead Logistics
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#selection(type='checkbox')
                        span.lever#leverOne
                        | Selection / Procurement
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#stock(type='checkbox')
                        span.lever
                        | Stock / Supply / Distribution
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#automated(type='checkbox')
                        span.lever#leverThree
                        | Automated / Robotic Systems
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#coldChain(type='checkbox')
                        span.lever#leverOne
                        | Cold Chain Management
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#delivery(type='checkbox')
                        span.lever
                        | Home Delivery
                    p#hrHead Tech Tools
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#softwareAided(type='checkbox')
                        span.lever#leverOne
                        | Software Aided Decision Making
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#mobileVR(type='checkbox')
                        span.lever
                        | Web / Mobile / VR Technologies
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#Printing3D(type='checkbox')
                        span.lever#leverThree
                        | 3D Printing
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#socialMedia(type='checkbox')
                        span.lever#leverOne
                        | Social Media
                    p#hrHead Challenges
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#shortages(type='checkbox')
                        span.lever#leverOne
                        | Drug Shortages
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#adverseEvents(type='checkbox')
                        span.lever
                        | Allergies / Adverse Drug Events
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#adherence(type='checkbox')
                        span.lever#leverThree
                        | Medication Adherence
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#resistance(type='checkbox')
                        span.lever#leverOne
                        | Antimicrobial Resistance
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#renal(type='checkbox')
                        span.lever
                        | Renal Insufficiency
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#errors(type='checkbox')
                        span.lever#leverThree
                        | Prescription / Preparation / Application Errors
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#falsified(type='checkbox')
                        span.lever#leverOne
                        | Falsified Medicines
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#incompatibilities(type='checkbox')
                        span.lever
                        | Incompatibilities
                    p#hrHead Organizational
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#administrative(type='checkbox')
                        span.lever#leverOne
                        | Resource Management (Human / Material)
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#stewardship(type='checkbox')
                        span.lever
                        | Antimicrobial Stewardship
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#policiesAudits(type='checkbox')
                        span.lever#leverThree
                        | Regulatory Policies / Audits
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#multidisciplinary(type='checkbox')
                        span.lever#leverOne
                        | Multidisciplinary Collaboration
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#institutional(type='checkbox')
                        span.lever
                        | Multi-Institutional Collaboration
                    p#hrHead Events
                    hr
                    .row.switch
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#recalls(type='checkbox')
                        span.lever#leverOne
                        | Drug Recalls
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#education(type='checkbox')
                        span.lever
                        | Education of Health Professionals
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#clinicalTrials(type='checkbox')
                        span.lever#leverThree
                        | Clinical Trials
                    p#hrHead Others
                    hr
                    .row.switch(style='margin-bottom: 1.5rem;')
                      label.col.s12.l4#lefty(style='font-weight: bold; color: darkslateblue;')
                        input#youngPharma(type='checkbox')
                        span.lever#leverOne
                        | Students / Young Pharmacists
                      label.col.s12.l4(style='font-weight: bold; color: darkslateblue;')
                        input#nextStep(type='checkbox')
                        span.lever
                        | Suggesting a Next Step
          .row(style='margin-top: 4rem;')
            a#search.col.s2.waves-effect.waves-light.btn.offset-s4(style='border-radius: 12px; width: 25%')
              | Search
              i.material-icons.right search
          #resultHeader.row(style='margin-top: 2rem; display: none;')
            #resultText.col.s12.p
            h3.col.s12#Resulty(style='margin-top: 1rem; font-weight: bold; color: firebrick;') Results
          .row#sortAndAll(style='display: none;') 
            form#selectForm.col.s12.m4.left(action='#', style='')
              p
                label
                  input#selectAll.filled-in(type='checkbox')
                  span(style="font-weight: bold; color: darkslateblue;") Select All
            select#sortSelect.browser-default.col.s12.m4.right
              option.sortClass(value='Name') Name (A-Z)
              option.sortClass(value='Newest', selected='') Newest First
              option.sortClass(value='Oldest') Oldest First
          #resultBody.row(style='display: none;')
            ul#resultList(class="collapsible expandable")
          .row(style="margin-top: 4rem;")
            #email.col.s2.waves-effect.waves-light.btn.offset-s4(style='border-radius: 12px; width: 25%; display: none; background-color: royalblue;', onclick="window.open('email','_blank');")
                | E-Mail Results
                i.material-icons.right email
          .row(style="margin-top: 4rem;")
            p#issue.center-align(style="display: none; color: orangered; font-size: medium; font-weight: 500;") Did not get what your were looking for? Or any of the results is not as you've expected? Report any issue using this <a href='issue' target='_blank'> link</a>
        .col.s12.m4.l2(style="padding: 3rem;")
          script(type='text/javascript').
            var bannersnack_embed = {"hash":"bxhm4i3nd","width":300,"height":1050,"t":1592485287,"userId":41627626,"responsive":true,"type":"html5"};
          script(type='text/javascript', src='//cdn.bannersnack.com/iframe/embed.js')
    include includes/footer.pug
  // Compiled and minified JavaScript
  script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
  script(src='js/jquery.paginate.js')
  script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.11')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  // MY SCRIPTS START
  script.
    // MATERIALIZE STUFF
    M.AutoInit();
    document.addEventListener('DOMContentLoaded', function(){
      var options = {
        strings: ['PharmaSear^500.ch'],
        typeSpeed: 100
      };
      var typed = new Typed('#logoType', options); 
    });
    // COOKIE ENGINE START
    function createCookie(name,value,days) {
    if (days) {
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
    }
    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
    }
    function eraseCookie(name) {
    createCookie(name,"",-1);
    }
    // COOKIE ENGINE ENDS

    // READ COOKIE FOR NIGHT MODE
    let checkNight = readCookie('nightMode');
    if (checkNight == null) {
    } else {
      $("#nightMode").trigger("click");
      $("main").css("background-color", "darkgray");
      $("header").css("background-color", "darkgray");
      $("footer").css("background-color", "gray");
      $(".collapsible-header").css("background-color", "darkgray");
      $("#sortSelect").css("background-color", "darkgray");
      $("#email").css("background-color", "darkslateblue");
      $("#issue").css("background-color", "darkslateblue");
      $("#search").css("background-color", "darkslateblue");
      $("#resultBody > nav").css("background-color", "darkslategray");
      $(".nav-wrapper").css("background", "");
      $(".nav-wrapper").css("background-color", "darkslateblue");
    }

  script.
    // GET JSON DATA
    var dataReq = new XMLHttpRequest();
    var url = "protected/data/data.json";
    dataReq.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    console.log('Data loaded with success!');
    }
    };
    dataReq.open("GET", url, true);
    dataReq.send();
  script.
    // SET EMPTY FILTER ARRAY
    let filterArr = [false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false];
    var searchObj = new Object();
    // MODIFY FILTER ARRAY ACCORDING TO SPAN.LEVERS' ACTION
    $( "#pediatrics" ).click(function() {
    if (filterArr[0] === false) {
    filterArr[0] = true;
    } else {
    filterArr[0] = false;
    }
    });
    $( "#geriatrics" ).click(function() {
    if (filterArr[1] === false) {
    filterArr[1] = true;
    } else {
    filterArr[1] = false;
    }
    });
    $( "#neonatology" ).click(function() {
    if (filterArr[2] === false) {
    filterArr[2] = true;
    } else {
    filterArr[2] = false;
    }
    });
    $( "#oncology" ).click(function() {
    if (filterArr[3] === false) {
    filterArr[3] = true;
    } else {
    filterArr[3] = false;
    }
    });
    $( "#pharmacogenetics" ).click(function() {
    if (filterArr[4] === false) {
    filterArr[4] = true;
    } else {
    filterArr[4] = false;
    }
    });
    $( "#pharmacoeconomy" ).click(function() {
    if (filterArr[5] === false) {
    filterArr[5] = true;
    } else {
    filterArr[5] = false;
    }
    });
    $( "#radiopharmaceuticals" ).click(function() {
    if (filterArr[6] === false) {
    filterArr[6] = true;
    } else {
    filterArr[6] = false;
    }
    });
    $( "#compounding" ).click(function() {
    if (filterArr[7] === false) {
    filterArr[7] = true;
    } else {
    filterArr[7] = false;
    }
    });
    $( "#medicalDevices" ).click(function() {
    if (filterArr[8] === false) {
    filterArr[8] = true;
    } else {
    filterArr[8] = false;
    }
    });
    $( "#personalized" ).click(function() {
    if (filterArr[9] === false) {
    filterArr[9] = true;
    } else {
    filterArr[9] = false;
    }
    });
    $( "#nutrition" ).click(function() {
    if (filterArr[10] === false) {
    filterArr[10] = true;
    } else {
    filterArr[10] = false;
    }
    });
    $( "#highRisk" ).click(function() {
    if (filterArr[11] === false) {
    filterArr[11] = true;
    } else {
    filterArr[11] = false;
    }
    });
    $( "#endOfLife" ).click(function() {
    if (filterArr[12] === false) {
    filterArr[12] = true;
    } else {
    filterArr[12] = false;
    }
    });
    $( "#selfMedication" ).click(function() {
    if (filterArr[13] === false) {
    filterArr[13] = true;
    } else {
    filterArr[13] = false;
    }
    });
    $( "#preopMedication" ).click(function() {
    if (filterArr[14] === false) {
    filterArr[14] = true;
    } else {
    filterArr[14] = false;
    }
    });
    $( "#outpatient" ).click(function() {
    if (filterArr[15] === false) {
    filterArr[15] = true;
    } else {
    filterArr[15] = false;
    }
    });
    $( "#enzymeSubstrate" ).click(function() {
    if (filterArr[16] === false) {
    filterArr[16] = true;
    } else {
    filterArr[16] = false;
    }
    });
    $( "#geneTherapy" ).click(function() {
    if (filterArr[17] === false) {
    filterArr[17] = true;
    } else {
    filterArr[17] = false;
    }
    });
    $( "#homeCare" ).click(function() {
    if (filterArr[18] === false) {
    filterArr[18] = true;
    } else {
    filterArr[18] = false;
    }
    });
    $( "#antibioticProphylaxis" ).click(function() {
    if (filterArr[19] === false) {
    filterArr[19] = true;
    } else {
    filterArr[19] = false;
    }
    });
    $( "#painManagement" ).click(function() {
    if (filterArr[20] === false) {
    filterArr[20] = true;
    } else {
    filterArr[20] = false;
    }
    });
    $( "#offLabel" ).click(function() {
    if (filterArr[21] === false) {
    filterArr[21] = true;
    } else {
    filterArr[21] = false;
    }
    });
    $( "#flatDoses" ).click(function() {
    if (filterArr[22] === false) {
    filterArr[22] = true;
    } else {
    filterArr[22] = false;
    }
    });
    $( "#switching" ).click(function() {
    if (filterArr[23] === false) {
    filterArr[23] = true;
    } else {
    filterArr[23] = false;
    }
    });
    $( "#deprescribing" ).click(function() {
    if (filterArr[24] === false) {
    filterArr[24] = true;
    } else {
    filterArr[24] = false;
    }
    });
    $( "#prepareIV" ).click(function() {
    if (filterArr[25] === false) {
    filterArr[25] = true;
    } else {
    filterArr[25] = false;
    }
    });
    $( "#costAnalysis" ).click(function() {
    if (filterArr[26] === false) {
    filterArr[26] = true;
    } else {
    filterArr[26] = false;
    }
    });
    $( "#riskSafety" ).click(function() {
    if (filterArr[27] === false) {
    filterArr[27] = true;
    } else {
    filterArr[27] = false;
    }
    });
    $( "#vigilance" ).click(function() {
    if (filterArr[28] === false) {
    filterArr[28] = true;
    } else {
    filterArr[28] = false;
    }
    });
    $( "#stability" ).click(function() {
    if (filterArr[29] === false) {
    filterArr[29] = true;
    } else {
    filterArr[29] = false;
    }
    });
    $( "#drugMonitoring" ).click(function() {
    if (filterArr[30] === false) {
    filterArr[30] = true;
    } else {
    filterArr[30] = false;
    }
    });
    $( "#safetyProfile" ).click(function() {
    if (filterArr[31] === false) {
    filterArr[31] = true;
    } else {
    filterArr[31] = false;
    }
    });
    $( "#intervention" ).click(function() {
    if (filterArr[32] === false) {
    filterArr[32] = true;
    } else {
    filterArr[32] = false;
    }
    });
    $( "#patientIntervention" ).click(function() {
    if (filterArr[33] === false) {
    filterArr[33] = true;
    } else {
    filterArr[33] = false;
    }
    });
    $( "#nursesReccomend" ).click(function() {
    if (filterArr[34] === false) {
    filterArr[34] = true;
    } else {
    filterArr[34] = false;
    }
    });
    $( "#telepharmacy" ).click(function() {
    if (filterArr[35] === false) {
    filterArr[35] = true;
    } else {
    filterArr[35] = false;
    }
    });
    $( "#interview" ).click(function() {
    if (filterArr[36] === false) {
    filterArr[36] = true;
    } else {
    filterArr[36] = false;
    }
    });
    $( "#selection" ).click(function() {
    if (filterArr[37] === false) {
    filterArr[37] = true;
    } else {
    filterArr[37] = false;
    }
    });
    $( "#stock" ).click(function() {
    if (filterArr[38] === false) {
    filterArr[38] = true;
    } else {
    filterArr[38] = false;
    }
    });
    $( "#automated" ).click(function() {
    if (filterArr[39] === false) {
    filterArr[39] = true;
    } else {
    filterArr[39] = false;
    }
    });
    $( "#coldChain" ).click(function() {
    if (filterArr[40] === false) {
    filterArr[40] = true;
    } else {
    filterArr[40] = false;
    }
    });
    $( "#softwareAided" ).click(function() {
    if (filterArr[41] === false) {
    filterArr[41] = true;
    } else {
    filterArr[41] = false;
    }
    });
    $( "#mobileVR" ).click(function() {
    if (filterArr[42] === false) {
    filterArr[42] = true;
    } else {
    filterArr[42] = false;
    }
    });
    $( "#Printing3D" ).click(function() {
    if (filterArr[43] === false) {
    filterArr[43] = true;
    } else {
    filterArr[43] = false;
    }
    });
    $( "#socialMedia" ).click(function() {
    if (filterArr[44] === false) {
    filterArr[44] = true;
    } else {
    filterArr[44] = false;
    }
    });
    $( "#shortages" ).click(function() {
    if (filterArr[45] === false) {
    filterArr[45] = true;
    } else {
    filterArr[45] = false;
    }
    });
    $( "#adverseEvents" ).click(function() {
    if (filterArr[46] === false) {
    filterArr[46] = true;
    } else {
    filterArr[46] = false;
    }
    });
    $( "#adherence" ).click(function() {
    if (filterArr[47] === false) {
    filterArr[47] = true;
    } else {
    filterArr[47] = false;
    }
    });
    $( "#resistance" ).click(function() {
    if (filterArr[48] === false) {
    filterArr[48] = true;
    } else {
    filterArr[48] = false;
    }
    });
    $( "#renal" ).click(function() {
    if (filterArr[49] === false) {
    filterArr[49] = true;
    } else {
    filterArr[49] = false;
    }
    });
    $( "#errors" ).click(function() {
    if (filterArr[50] === false) {
    filterArr[50] = true;
    } else {
    filterArr[50] = false;
    }
    });
    $( "#administrative" ).click(function() {
    if (filterArr[51] === false) {
    filterArr[51] = true;
    } else {
    filterArr[51] = false;
    }
    });
    $( "#stewardship" ).click(function() {
    if (filterArr[52] === false) {
    filterArr[52] = true;
    } else {
    filterArr[52] = false;
    }
    });
    $( "#policiesAudits" ).click(function() {
    if (filterArr[53] === false) {
    filterArr[53] = true;
    } else {
    filterArr[53] = false;
    }
    });
    $( "#multidisciplinary" ).click(function() {
    if (filterArr[54] === false) {
    filterArr[54] = true;
    } else {
    filterArr[54] = false;
    }
    });
    $( "#institutional" ).click(function() {
    if (filterArr[55] === false) {
    filterArr[55] = true;
    } else {
    filterArr[55] = false;
    }
    });
    $( "#recalls" ).click(function() {
    if (filterArr[56] === false) {
    filterArr[56] = true;
    } else {
    filterArr[56] = false;
    }
    });
    $( "#education" ).click(function() {
    if (filterArr[57] === false) {
    filterArr[57] = true;
    } else {
    filterArr[57] = false;
    }
    });
    $( "#clinicalTrials" ).click(function() {
    if (filterArr[58] === false) {
    filterArr[58] = true;
    } else {
    filterArr[58] = false;
    }
    });
    $( "#youngPharma" ).click(function() {
    if (filterArr[59] === false) {
    filterArr[59] = true;
    } else {
    filterArr[59] = false;
    }
    });
    $( "#nextStep" ).click(function() {
    if (filterArr[60] === false) {
    filterArr[60] = true;
    } else {
    filterArr[60] = false;
    }
    });
    $( "#compliance" ).click(function() {
    if (filterArr[61] === false) {
    filterArr[61] = true;
    } else {
    filterArr[61] = false;
    }
    });
    $( "#orphan" ).click(function() {
    if (filterArr[62] === false) {
    filterArr[62] = true;
    } else {
    filterArr[62] = false;
    }
    });
    $( "#delivery" ).click(function() {
    if (filterArr[63] === false) {
    filterArr[63] = true;
    } else {
    filterArr[63] = false;
    }
    });
    $( "#falsified" ).click(function() {
    if (filterArr[64] === false) {
    filterArr[64] = true;
    } else {
    filterArr[64] = false;
    }
    });
    $( "#incompatibilities" ).click(function() {
    if (filterArr[65] === false) {
    filterArr[65] = true;
    } else {
    filterArr[65] = false;
    }
    });

    // WHEN YOU FIRE THE SEARCH
    $("#search").click(function() {
    // ERASE THE PREV RESULT TEXT
    $('#resultList').text('');
    // GET THE TEXTs FROM LIST SELECTS
    let instance_01 = M.FormSelect.getInstance($('#actSubs'));
    let actSubs = instance_01.getSelectedValues();
    let instance_02 = M.FormSelect.getInstance($('#indication'));
    let indication = instance_02.getSelectedValues();
    let instance_03 = M.FormSelect.getInstance($('#statedClass'));
    let statedClass = instance_03.getSelectedValues();
    let instance_04 = M.FormSelect.getInstance($('#studyDesign'));
    let studyDesign = instance_04.getSelectedValues();
    let instance_05 = M.FormSelect.getInstance($('#setting'));
    let setting = instance_05.getSelectedValues();
    let instance_06 = M.FormSelect.getInstance($('#ward'));
    let ward = instance_06.getSelectedValues();
    let instance_07 = M.FormSelect.getInstance($('#numPatients'));
    let numPatients = instance_07.getSelectedValues();
    let instance_08 = M.FormSelect.getInstance($('#numPrescriptions'));
    let numPrescriptions = instance_08.getSelectedValues();
    let instance_09 = M.FormSelect.getInstance($('#studyLength'));
    let studyLength = instance_09.getSelectedValues();
    let instance_10 = M.FormSelect.getInstance($('#criteriaMethod'));
    let criteriaMethod = instance_10.getSelectedValues();
    let instance_11 = M.FormSelect.getInstance($('#country'));
    let country = instance_11.getSelectedValues();
    let instance_12 = M.FormSelect.getInstance($('#year'));
    let year = instance_12.getSelectedValues();
    let instance_13 = M.FormSelect.getInstance($('#typeOfMedical'));
    let typeOfMedical = instance_13.getSelectedValues();
    // IF NOTHING WAS SELECTED, SET THE VALUE AS "EMPTY"
    if (actSubs === "") {
    actSubs = "empty"
    }

    if (indication === "") {
    indication = "empty"
    }

    if (statedClass === "") {
    statedClass = "empty"
    }

    if (studyDesign === "") {
    studyDesign = "empty"
    }

    if (setting === "") {
    setting = "empty"
    }

    if (ward === "") {
    ward = "empty"
    }

    if (numPatients === "") {
    numPatients = "empty"
    }

    if (numPrescriptions === "") {
    numPrescriptions = "empty"
    }

    if (studyLength === "") {
    studyLength = "empty"
    }

    if (criteriaMethod === "") {
    criteriaMethod = "empty"
    }

    if (country === "") {
    country = "empty"
    }

    if (year === "") {
    year = "empty"
    }

    if (typeOfMedical === "") {
    typeOfMedical = "empty"
    }

    // RESET THE SEARCH OBJECT / ADD VALUES FROM THE LIST SELECTS FOR THE NEW SEARCH
    searchObj = {
      actSubs: actSubs,
      indication: indication,
      statedClass: statedClass,
      typeOfMedical: typeOfMedical,
      studyDesign: studyDesign,
      setting: setting,
      ward: ward,
      numPatients: numPatients,
      numPrescriptions: numPrescriptions,
      studyLength: studyLength,
      criteriaMethod: criteriaMethod,
      country: country,
      year: year,
      pediatrics: [],
      geriatrics: [],
      neonatology: [],
      oncology: [],
      pharmacogenetics: [],
      pharmacoeconomy: [],
      radiopharmaceuticals: [],
      compounding: [],
      medicalDevices: [],
      personalized: [],
      nutrition: [],
      highRisk: [],
      endOfLife: [],
      selfMedication: [],
      preopMedication: [],
      outpatient: [],
      enzymeSubstrate: [],
      geneTherapy: [],
      homeCare: [],
      antibioticProphylaxis: [],
      painManagement: [],
      offLabel: [],
      flatDoses: [],
      switching: [],
      deprescribing: [],
      prepareIV: [],
      costAnalysis: [],
      riskSafety: [],
      vigilance: [],
      stability: [],
      drugMonitoring: [],
      safetyProfile: [],
      intervention: [],
      patientIntervention: [],
      nursesReccomend: [],
      telepharmacy: [],
      interview: [],
      selection: [],
      stock: [],
      automated: [],
      coldChain: [],
      softwareAided: [],
      mobileVR: [],
      Printing3D: [],
      socialMedia: [],
      shortages: [],
      adverseEvents: [],
      adherence: [],
      resistance: [],
      renal: [],
      errors: [],
      administrative: [],
      stewardship: [],
      policiesAudits: [],
      multidisciplinary: [],
      institutional: [],
      recalls: [],
      education: [],
      clinicalTrials: [],
      youngPharma: [],
      nextStep: [],
      compliance: [],
      orphan: [],
      delivery: [],
      falsified: [],
      incompatibilities: []
    };
    // IF VALUE WAS NOT SELECTED (EMPTY), DESTROY THEM
    if (actSubs === "empty") {
    searchObj['actSubs'] = [];
    }
    if (indication === "empty") {
    searchObj['indication'] = [];
    }
    if (statedClass === "empty") {
    searchObj['statedClass'] = [];
    }
    if (studyDesign == "empty") {
    searchObj['studyDesign'] = [];
    }
    if (setting === "empty") {
    searchObj['setting'] = [];
    }
    if (ward === "empty") {
    searchObj['ward_focused'] = [];
    }
    if (numPatients === "empty") {
    searchObj['numPatients'] = [];
    }
    if (numPrescriptions == "empty") {
    searchObj['numPrescriptions'] = [];
    }
    if (studyLength === "empty") {
    searchObj['studyLength'] = [];
    }
    if (criteriaMethod === "empty") {
    searchObj['criteriaMethod'] = [];
    }
    if (country === "empty") {
    searchObj['country'] = [];
    }
    if (year == "empty") {
    searchObj['year'] = [];
    }
    if (year == "empty") {
    searchObj['typeOfMedical'] = [];
    }
    // LOAD THE DATA TO THE myData VARIABLE
    let myData = JSON.parse(dataReq.responseText);
    // ADD THE DATA IN THE FILTER TO THE SEARCH OBJECT
    if (filterArr[0] === true) {
    searchObj.pediatrics = ["pediatrics"];
    }

    if (filterArr[1] === true) {
    searchObj.geriatrics = ["geriatrics"];
    }

    if (filterArr[2] === true) {
    searchObj.neonatology = ["neonatology"];
    }

    if (filterArr[3] === true) {
    searchObj.oncology = ["oncology"];
    }

    if (filterArr[4] === true) {
    searchObj.pharmacogenetics = ["pharmacogenetics"];
    }

    if (filterArr[5] === true) {
    searchObj.pharmacoeconomy = ["pharmacoeconomy"];
    }

    if (filterArr[6] === true) {
    searchObj.radiopharmaceuticals = ["radiopharmaceuticals"];
    }

    if (filterArr[7] === true) {
    searchObj.compounding = ["compounding"];
    }

    if (filterArr[8] === true) {
    searchObj.medicalDevices = ["medicalDevices"];
    }

    if (filterArr[9] === true) {
    searchObj.personalized = ["personalized"];
    }

    if (filterArr[10] === true) {
    searchObj.nutrition = ["nutrition"];
    }

    if (filterArr[11] === true) {
    searchObj.highRisk = ["highRisk"];
    }

    if (filterArr[12] === true) {
    searchObj.endOfLife = ["endOfLife"];
    }

    if (filterArr[13] === true) {
    searchObj.selfMedication = ["selfMedication"];
    }

    if (filterArr[14] === true) {
    searchObj.preopMedication = ["preopMedication"];
    }

    if (filterArr[15] === true) {
    searchObj.outpatient = ["outpatient"];
    }

    if (filterArr[16] === true) {
    searchObj.enzymeSubstrate = ["enzymeSubstrate"];
    }

    if (filterArr[17] === true) {
    searchObj.geneTherapy = ["geneTherapy"];
    }

    if (filterArr[18] === true) {
    searchObj.homeCare = ["homeCare"];
    }

    if (filterArr[19] === true) {
    searchObj.antibioticProphylaxis = ["antibioticProphylaxis"];
    }

    if (filterArr[20] === true) {
    searchObj.painManagement = ["painManagement"];
    }

    if (filterArr[21] === true) {
    searchObj.offLabel = ["offLabel"];
    }

    if (filterArr[22] === true) {
    searchObj.flatDoses = ["flatDoses"];
    }

    if (filterArr[23] === true) {
    searchObj.switching = ["switching"];
    }

    if (filterArr[24] === true) {
    searchObj.deprescribing = ["deprescribing"];
    }

    if (filterArr[25] === true) {
    searchObj.prepareIV = ["prepareIV"];
    }

    if (filterArr[26] === true) {
    searchObj.costAnalysis = ["costAnalysis"];
    }

    if (filterArr[27] === true) {
    searchObj.riskSafety = ["riskSafety"];
    }

    if (filterArr[28] === true) {
    searchObj.vigilance = ["vigilance"];
    }

    if (filterArr[29] === true) {
    searchObj.stability = ["stability"];
    }

    if (filterArr[30] === true) {
    searchObj.drugMonitoring = ["drugMonitoring"];
    }

    if (filterArr[31] === true) {
    searchObj.safetyProfile = ["safetyProfile"];
    }

    if (filterArr[32] === true) {
    searchObj.intervention = ["intervention"];
    }

    if (filterArr[33] === true) {
    searchObj.patientIntervention = ["patientIntervention"];
    }

    if (filterArr[34] === true) {
    searchObj.nursesReccomend = ["nursesReccomend"];
    }

    if (filterArr[35] === true) {
    searchObj.telepharmacy = ["telepharmacy"];
    }

    if (filterArr[36] === true) {
    searchObj.interview = ["interview"];
    }

    if (filterArr[37] === true) {
    searchObj.selection = ["selection"];
    }

    if (filterArr[38] === true) {
    searchObj.stock = ["stock"];
    }

    if (filterArr[39] === true) {
    searchObj.automated = ["automated"];
    }

    if (filterArr[40] === true) {
    searchObj.coldChain = ["coldChain"];
    }

    if (filterArr[41] === true) {
    searchObj.softwareAided = ["softwareAided"];
    }

    if (filterArr[42] === true) {
    searchObj.mobileVR = ["mobileVR"];
    }

    if (filterArr[43] === true) {
    searchObj.Printing3D = ["Printing3D"];
    }

    if (filterArr[44] === true) {
    searchObj.socialMedia = ["socialMedia"];
    }

    if (filterArr[45] === true) {
    searchObj.shortages = ["shortages"];
    }

    if (filterArr[46] === true) {
    searchObj.adverseEvents = ["adverseEvents"];
    }

    if (filterArr[47] === true) {
    searchObj.adherence = ["adherence"];
    }

    if (filterArr[48] === true) {
    searchObj.resistance = ["resistance"];
    }

    if (filterArr[49] === true) {
    searchObj.renal = ["renal"];
    }

    if (filterArr[50] === true) {
    searchObj.errors = ["errors"];
    }

    if (filterArr[51] === true) {
    searchObj.administrative = ["administrative"];
    }

    if (filterArr[52] === true) {
    searchObj.stewardship = ["stewardship"];
    }

    if (filterArr[53] === true) {
    searchObj.policiesAudits = ["policiesAudits"];
    }

    if (filterArr[54] === true) {
    searchObj.multidisciplinary = ["multidisciplinary"];
    }

    if (filterArr[55] === true) {
    searchObj.institutional = ["institutional"];
    }

    if (filterArr[56] === true) {
    searchObj.recalls = ["recalls"];
    }

    if (filterArr[57] === true) {
    searchObj.education = ["education"];
    }

    if (filterArr[58] === true) {
    searchObj.clinicalTrials = ["clinicalTrials"];
    }

    if (filterArr[59] === true) {
    searchObj.youngPharma = ["youngPharma"];
    }

    if (filterArr[60] === true) {
    searchObj.nextStep = ["nextStep"];
    }

    if (filterArr[61] === true) {
    searchObj.compliance = ["compliance"];
    }

    if (filterArr[62] === true) {
    searchObj.orphan = ["orphan"];
    }

    if (filterArr[63] === true) {
    searchObj.delivery = ["delivery"];
    }

    if (filterArr[64] === true) {
    searchObj.falsified = ["falsified"];
    }

    if (filterArr[65] === true) {
    searchObj.incompatibilities = ["incompatibilities"];
    }

    // THE OLD COLD WHICH DID THE MAGIC ONLY IF IT ALLOWED MULTISELECT ISSUE
    /*
    const filterEngine = Object.values(searchObj).flat();

    let result = myData.filter(({filters}) => {
      const objFilters = Object.values(filters).flat();
      return filterEngine.every(val => objFilters.includes(val));
    });
    */

    // LET THE NEW CODE DO THE MAGIC WITH MULTI SELECTION-RESULTS
    let result = myData.filter(({filters}) => {
      let isOK = true, k;
      for(k in searchObj){
        isOK = isOK && (!searchObj[k].length || searchObj[k].some(val => filters[k].includes(val)));
      }
      return isOK;
    })
    
    // THIS CODE ALSO DOES THE MAGIC BUT IT WAS SENT TO BE AN UNDERDOG
    /*
    let result = myData.filter(({filters}) => {
      // Check if every filter has a value that is present in searchObj
      let isMatch = Object.entries(filters).every(([key, values]) => {
        // Check if the filter is not empty
        if(searchObj[key] && searchObj[key].length > 0) {
        // Check current filter values against product filter values
          return searchObj[key].some(value => values.includes(value));
        }
        
        return true;
      });

      return isMatch;
    })
    */

    // IF THERE'S A RESULT
    if (result.length > 0) {
      let sortName = $('#sortSelect').find(":selected").text();
      
      // OLDEST FIRST
      if (sortName == "Oldest First") {
        function sort(valuePath, array) {
          let path = valuePath.split('.')
          let value = getType(array[0],path);
        
          return array.sort((a, b) => getValue(a,path) -  getValue(b,path));

        
          function getValue(obj, path) {
            path.forEach(path => obj = obj[path])
            return obj;
          }
        
          function getType(obj, path) {
            path.forEach(path => obj = obj[path])
            return typeof obj;
          }
        }

        result = sort('filters.year', result);

      } else {
        function sort(valuePath, array) {
          let path = valuePath.split('.')
          let value = getType(array[0],path);
          
          if (value == 'string') {
            return array.sort((a, b) => (getValue(a,path).toUpperCase() > getValue(b,path).toUpperCase()) - (getValue(a,path).toUpperCase() < getValue(b,path).toUpperCase()))
          } else {
            return array.sort((a, b) => getValue(b,path) -  getValue(a,path));
          }
        
          function getValue(obj, path) {
            path.forEach(path => obj = obj[path])
            return obj;
          }
        
          function getType(obj, path) {
            path.forEach(path => obj = obj[path])
            return typeof obj;
          }
        }
        
        // NEWEST FIRST
        if (sortName == "Newest First") {
          result = sort('filters.year', result);
        } else {
        // A to Z SORTING
          result = sort('title', result);
        }
        
      }
    }


    // TIME TO PRESENT THE INTRO
    let resultLength = result.length;

    $("#resultText").html(`We have found ${resultLength} result(s)`);
    // IF THERE'S A RESULT MAKE THE CHANGES
    if (resultLength > 0) {
      $('#Resulty').empty();
      $('#Resulty').append("Results");
      $('#resultHeader').hide();
      $('#sortAndAll').hide();
      $('#resultBody').hide();
      $('#email').hide();
      $('#issue').hide();
      $('#resultHeader').fadeIn(300);
      $('#sortAndAll').fadeIn(300);
      $('#resultBody').fadeIn(500);
      $('#email').fadeIn(500);
      $('#issue').fadeIn(500);
    // IF THERE'S NO RESULT, HIDE THE NECESSARY PARTS
    } else {
      $('#Resulty').empty();
      $('#Resulty').append("Results");
      $('#sortAndAll').hide();
      $('#resultBody').hide();
      $('#email').hide();
      $('#issue').hide();
      $('#resultHeader').fadeIn(300);
    }
    // PREPARE THE LIST, APPEND TO RESULTLIST SECTION
    result.forEach(function(item) {
    var li = document.createElement("li");
    var text = `<div class="collapsible-header"><form action="#" style="margin-top: 0.5rem;"><p><label><input type="checkbox" data-check="isChecked" class="filled-in" /><span></span></label></p></form><p><a> ${item.title}. </a> ${item.filters.journal}, ${item.filters.year}</p></div><div class="collapsible-body"><span>${item.authors}</span><br><br><span style="font-size: small;">${item.institution}</span><br><br><div style="margin-top: 2rem;"><a href='${item.url}' target='_blank'><i class="material-icons" style="margin-left: 0.5rem; vertical-align: sub; color: darkred;">filter_none</i><span style="color: darkred;"> Open the Study</span></a><div class="error" style="float: right; margin-right: 2rem;"><a href='/report' target='_blank'><i class="material-icons" style="margin-left: 0.5rem; vertical-align: sub; color: indianred;">error</i><span style="color: indianred; font-size: small;"> Report an Error</span></a></div></div></div>`;
    li.innerHTML = text;
    document.getElementById("resultList").appendChild(li);
    // CREATE THE COLLAPSIBLE STYLE
    let elem = document.querySelectorAll('.collapsible.expandable');
    let instance = M.Collapsible.init(elem, {
    accordion: false,
    });
    });
    
    // PAGINATE START
    $('#resultList').paginate({
      perPage: 10,
      useHashLocation: true,
    });

    // FIX FOR THE RE-PAGINATION WITHOUT REFRESHING THE PAGE, KILL / RE-PAGINATE
    $('#resultList').data('paginate').kill();

    $('#resultList').paginate({
      perPage: 10,
      useHashLocation: false,
    });      
    // PAGINATE END

    // IF IT'S NIGHT MODE COLOR THE COLLAPSIBLE HEADERS
    let nightHeader = readCookie('nightMode');
    if (nightHeader == null) {
    } else {
    $(".collapsible-header").css("background-color", "darkgray");
    $("#resultBody > nav").css("background-color", "darkslategray");
    }

    // ERROR REPORTING
    let reportName;
    $( ".error" ).click(function() {
      let string = $(this).parent().parent().parent()[0].innerText;
      // method works only when you type a ";" after the study name. Study name should not include ";"
      let reportName = string.split('.')[0];
      createCookie('reportName', reportName, 1);
    });

    });

    // IF SORT SELECTION CHANGES, SEARCH AGAIN
    $('#sortSelect').change(function() {
        $("#search").trigger( "click" );
    });

    // SELECT ALL ENGINE STARTS WITH A COUNTER
    let counter = [false];

    // CHECKED - TRUE / NOT-CHECKED - FALSE MECHANISM (caps down please)
    $("#selectAll").click(function () {
        if (counter[0] === false) {
          $('.filled-in').prop('checked', true);
          counter[0] = true;
        } else {
          $('.filled-in').prop('checked', false);
          counter[0] = false;
        }
        
    });
    // SELECT ALL ENGINE ENDS

    // WHEN E-MAIL ME CLICKED
    $("#email").click(function () {
      // CREATE A TEXT ARRAY AND ADD INSIDE THE TEXTs of THE SELECTED STUDIES
      let textArray = [];
      textArray = $("input:checkbox[data-check='isChecked']:checked").map(function() {
        return $(this).parent().parent().parent().parent().siblings()[0].previousSibling.innerText;
      }).get();
      console.log(textArray);

      // CREATE A LINK ARRAY AND ADD INSIDE THE LINKs of THE SELECTED STUDIES
      let linkArray = [];
      linkArray = $("input:checkbox[data-check='isChecked']:checked").map(function() {
        return $(this).parent().parent().parent().parent().siblings()[0].children[6].firstElementChild.href;
      }).get();

      // CONVERT ARRAYS TO JSONs
      let json_text = JSON.stringify(textArray);
      console.log(json_text);
      let json_link = JSON.stringify(linkArray);

      // ERASE PRE-COOKIES
      eraseCookie('text');
      eraseCookie('link');
      eraseCookie('reportName');
      // CREATE NEW COOKIES AS JSONs
      createCookie('text', json_text, 1);
      createCookie('link', json_link, 1);

    });      
  script.
    // FOOTER SLIDING DATA
    // FOOTER SLIDING DATA
    $( "body" ).one('mouseover', function() {
      setTimeout(function() { 
      let slideData = JSON.parse(dataReq.responseText);
      document.getElementById("slider").innerHTML = `${slideData.length} studies in our database are ready for you to perform your search now!`;
      }, 500);
    });
    
    // THIS WAS CREATED FOR MONO-SELECT DROPDOWNS THROUGH THE SELECTED LIST OF IDs
    /*
    $( ".input-field span" ).click(function() {
      let foundID = $(this).parent().parent().parent();
      foundID = foundID[0].lastChild.id;
      if (foundID === "studyDesign" || foundID === "numPatients" || foundID === "numPrescriptions" || foundID === "studyLength" || foundID === "year") {
      let selecty = $(this).parent().siblings(".selected");
      selecty.trigger( "click" ); 
      }
    });
    */
    
    // IF ANOTHER SELECT WAS CLICKED UNSELECT THE SELECT-ALL CHECKBOX
    $("body").on("change", "input[data-check='isChecked']", function () {
        $("#selectAll").prop('checked', false);
    });

    // NIGHT MODE SWITCH
    $( "#nightMode" ).click(function() {
    let nightMode = readCookie('nightMode');
    if (nightMode == null) {
      let nightMode = "yes";
      createCookie('nightMode', nightMode, 2);
      $("main").css("background-color", "darkgray");
      $("header").css("background-color", "darkgray");
      $("footer").css("background-color", "darkgray");
      $(".page-footer").css("background-color", "gray");
      $(".collapsible-header").css("background-color", "darkgray");
      $("#sortSelect").css("background-color", "darkgray");
      $("#email").css("background-color", "darkslateblue");
      $("#issue").css("background-color", "darkslateblue");
      $("#search").css("background-color", "darkslateblue");
      $("#resultBody > nav").css("background-color", "darkslategray");
      $(".nav-wrapper").css("background", "");
      $(".nav-wrapper").css("background-color", "darkslateblue");
    } else {
      eraseCookie('nightMode');
      $("main").css("background-color", "aliceblue");
      $("header").css("background-color", "aliceblue");
      $("footer").css("background-color", "aliceblue");
      $(".collapsible-header").css("background-color", "aliceblue");
      $("#sortSelect").css("background-color", "aliceblue");
      $("#email").css("background-color", "royalblue");
      $("#issue").css("background-color", "royalblue");
      $("#search").css("background-color", "royalblue");
      $("#resultBody > nav").css("background-color", "dodgerblue");
      $(".page-footer").css("background-color", "royalblue");
      $(".nav-wrapper").css("background-color", "royalblue");
    }
    });