doctype html
html
    head
      title PharmaSearch || Report an Error
      // Import Google Icon Font
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      // Compiled and minified CSS
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
      // My very own great CSS
      link(rel='stylesheet', href='css/style.css')
      // Let browser know website is optimized for mobile
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
      include includes/header.pug
      main
        .container
          .row
            form.col.s12(action='/report', method='post')
              .row
                .input-field.col.s12
                  textarea#studyName.materialize-textarea(name='studyName', readonly='')
                  label(for='studyName') Selected Item
                .input-field.col.s12
                  textarea#name.materialize-textarea(name='name')
                  label(for='name') Your Name (optional)
                .input-field.col.s12
                  input#email.validate(type='email', name='email')
                  label(for='email') Your E-Mail (optional)
                  span.helper-text(data-error='Please check your mail again', data-success='')
                .input-field.col.s12
                    select(name='problem')
                        option(value='', disabled='', selected='') Please Select
                        option(value='Incorrect Link / Study Does Not Exist') Incorrect Link / Study Does Not Exist
                        option(value='Misspelling') Misspelling
                        option(value='Misinformation') Misinformation
                        option(value='Incorrect Classification') Incorrect Classification
                        option(value='Technical Issues') Technical Issues
                        option(value='Others') Others
                    label Classification of the Problem
                .input-field.col.s12
                  textarea#details.materialize-textarea(name='details', autocomplete='off')
                  label(for='details') Details (optional)
              .row  
                button#sendReport.col.s2.waves-effect.waves-light.btn.offset-s4(style='border-radius: 12px; width: 25%; background-color: royalblue;', type='submit' name="sendReport")
                    | Report Now
                    i.material-icons.right email
          .row.center-align
            p.col.s12(style="font-weight: bold; color: darkslateblue;")= Report
      include includes/footer.pug
    // Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='js/jquery.paginate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    // FUNDEMENTALS
    script.
      M.AutoInit();
      // COOKIE ENGINE START
      function createCookie(name,value,days) {
      if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
      }
      function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
      }
      function eraseCookie(name) {
      createCookie(name,"",-1);
      }
      // COOKIE ENGINE END

      // GET COOKIE DATA AND WRITE TO THE PAGE
      let reportName = readCookie('reportName');
      document.getElementById('studyName').value = reportName;
      // GET JSON DATA
      var dataReq = new XMLHttpRequest();
      var url = "protected/data/data.json";
      dataReq.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log('Data loaded with success!');
      }
      };
      dataReq.open("GET", url, true);
      dataReq.send();
      // FOOTER SLIDING DATA
      $( "body" ).one('mouseover', function() {
        setTimeout(function() { 
        let slideData = JSON.parse(dataReq.responseText);
        let actLength = (($('#actSubs > option').length) - 1);
        let wardLength = (($('#ward > option').length) - 1);
        let countryLength = (($('#country > option').length) - 1);
        document.getElementById("slider").innerHTML = `${slideData.length} studies in our database are ready! With ${actLength} different active substances, ${wardLength} different ward options and among ${countryLength} countries; you may perform your search`;
        }, 500);
      });

